target/
test-output/
.idea/
*.iml
*.ipr
*.iws
*.classpath
*.project
.settings/
/bin
/*.gz
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
